@model AuthViewModel
@{
    ViewBag.Title = "Вход";
}

<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="bg-white rounded shadow p-4" style="width: 100%; max-width: 400px;">
        <form class="d-flex flex-column" asp-action="Login" asp-controller="Auth" method="post">
            <h4 class="text-center mb-4 text-primary">Войти в аккаунт</h4>
            
            <div class="form-group mb-3">
                <label for="UserName" class="form-label">Имя пользователя</label>
                <input id="UserName" class="form-control" type="text" asp-for="@Model.UserName" maxlength="30" placeholder="Введите имя пользователя" />
            </div>

            <div class="form-group mb-3">
                <label for="Password" class="form-label">Пароль</label>
                <input id="Password" class="form-control" type="password" asp-for="@Model.Password" placeholder="Введите пароль" />
            </div>
            
            <div class="form-group mb-3">
                <input type="submit" class="btn btn-primary w-100" value="Войти в аккаунт" />
            </div>
            
            <div class="form-text text-center text-danger mb-3">
                <div asp-validation-summary="All"></div>
            </div>
        </form>

        <div class="text-center">
            <a class="text-decoration-none text-primary" asp-action="Register" asp-controller="Auth">
                Зарегистрироваться
            </a>
        </div>
    </div>
</div>
